.load-more {
  padding: 18px 20px;
  display: inline-block;
  min-width: 170px;
  color: rgba($black-color, 0.6);
  font-size: 17px;
  font-weight: 500;
  background-color: $white-color;
  border: 1px solid $white-color;
  cursor: pointer;
  border-radius: 25px;

  &::after {
    content: '';
    margin-left: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('data:image/svg+xml,%3Csvg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cg opacity="0.6"%3E%3Cpath d="M1.70703 13.1665V8.9165H5.95703" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M1.70703 8.9165L4.9937 12.0048C5.75498 12.7665 6.6968 13.3229 7.73127 13.6221C8.76575 13.9213 9.85916 13.9536 10.9095 13.716C11.9598 13.4783 12.9328 12.9785 13.7377 12.2631C14.5426 11.5477 15.1532 10.64 15.5124 9.62484" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M16.8047 1.70654L16.8047 5.95654L12.5547 5.95654" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M16.8047 5.95654L13.518 2.86821C12.7567 2.10655 11.8149 1.55014 10.7804 1.25092C9.74597 0.951697 8.65255 0.919405 7.60222 1.15706C6.55189 1.39471 5.57888 1.89456 4.77398 2.60996C3.96907 3.32537 3.35851 4.23301 2.99927 5.24821" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/g%3E%3C/svg%3E%0A') center no-repeat;
    vertical-align: middle;
  }
}
