include ../components/logo-site/logo-site
include ../components/page-header/page-header
include ../components/page-footer/page-footer

block settings
  -
    var page = {
      title: 'Главная страница'
    };

- var isHomepage = page.title === 'Главная страница';

doctype html
html(class="no-js", lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title Page title
    meta(content="", name="description")
    meta(content="", name="keywords")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(content="telephone=no", name="format-detection")
    //- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers
    meta(name="HandheldFriendly", content="true")

    | <!--[if IE 8 ]><link href="%=static=%css/main_ie8%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
    | <!--[if IE 9 ]><link href="%=static=%css/main_ie9%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
    | <!--[if (gt IE 9)|!(IE)]><!--><link href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><!--<![endif]-->

    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    script.
      (function (H) {
        H.className = H.className.replace(/\bno-js\b/, 'js')
      })(document.documentElement)
    | <!--[if lt IE 9 ]><script src="%=static=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar"><![endif]-->

  body.page(class=(isHomepage ? 'page--homepage' : ''))
    |%=symbols=%

    // start page-preloader
    //.page-preloader._preloader
    //  ._body
    //    +logo-site({}, {
    //      class: 'page-preloader__logo-site'
    //    })
    //
    //  ._footer
    //    ._loading Загрузка: <span class="js-preloader-percent">0</span>%
    // start page-preloader

    ._wrapper

      // start page-header
      +page-header({}, {
        class: 'page__header'
      })
      // end page-header

      // start page-body
      .page-body._body
        main.page-main._main
          block page-main
      // end page-body

      // start page-footer
      +page-footer({}, {
        class: 'page__footer'
      })
      // end page-footer

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
    script(src='%=static=%js/separate-js/common.js')
