extends _template

block page-main

  // start main-screen
  section.main-screen.-first.js-main-screen-1(class='page-main__screen')
    ._body
      ._inner
        ._content

      ._background
        img._img(src='__static__img/general/bg-helicopters.jpg')

        ._overlay

    .screen-footer._footer

    .screen-rotate.js-screen-rotate-1(class='main-screen__rotate')
  // end main-screen

  // start main-stub
  section.main-stub.js-main-stub-1(class='page-main__stub')
    .screen-rotate.js-screen-rotate-invert-1(class='main-stub__rotate')
  // end main-stub

  // start main-screen
  section.main-screen.js-main-screen-2(class='page-main__screen')
    ._body
      ._inner
        ._content

      ._background
        img._img(src='__static__img/general/bg-pilots.jpg')

        ._overlay

    .screen-rotate.js-screen-rotate-2(class='main-screen__rotate')
  // end main-screen

  // start main-stub
  section.main-stub.js-main-stub-2(class='page-main__stub')
    .screen-rotate.js-screen-rotate-invert-2(class='main-stub__rotate')
  // end main-stub

  // start main-screen
  section.main-screen.js-main-screen-3(class='page-main__screen')
    ._body
      ._inner
        ._content

      ._background
        img._img(src='__static__img/general/bg-heliclub.jpg')

        ._overlay

    .screen-rotate.js-screen-rotate-3(class='main-screen__rotate')
  // end main-screen

  // start main-stub
  section.main-stub.js-main-stub-3(class='page-main__stub')
    .screen-rotate.js-screen-rotate-invert-3(class='main-stub__rotate')
  // end main-stub

  // start main-screen
  section.main-screen.js-main-screen-4(class='page-main__screen')
    ._body
      ._inner
        ._content

      ._background
        img._img(src='__static__img/general/bg-heliclub.jpg')

        ._overlay

    .screen-rotate.js-screen-rotate-4(class='main-screen__rotate')
  // end main-screen
