extends _template

include ../components/section-products/section-products
include ../components/section-articles/section-articles
include ../components/social-buttons/social-buttons

block page-main

  // start main-screen
  section.main-screen.-first.js-main-section(class='page-main__screen')
    ._body
      ._inner
        ._content.js-main-section-content
          ._container.container
            h2._heading Продажа вертолётов
            a.more-link._more(href='#' title='Смотреть вертолёты в каталоге')
              span._title Смотреть вертолёты в каталоге

      ._background
        img._img(src='__static__img/general/bg-helicopters.jpg')

        ._overlay

    .screen-footer._footer
      ._container.container
        +social-buttons({
          list: ['in', 'fb']
        }, {
          class: 'screen-footer__social-buttons'
        })

        a._scroll(href='#' title='')
          <svg width="9" height="35" viewBox="0 0 9 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.74746 29.2793C8.5875 29.1004 8.37111 29 8.14556 29C7.92001 29 7.875 29 7.875 29L4.47866 29L1.125 29C1.125 29 1.07999 29 0.854442 29C0.628891 29 0.412504 29.1004 0.252541 29.2793C0.172519 29.3686 0.109004 29.4749 0.0656599 29.5919C0.0223156 29.709 0 29.8345 0 29.9613C0 30.0881 0.0223156 30.2136 0.0656599 30.3307C0.109004 30.4477 0.172519 30.554 0.252541 30.6433L3.87249 34.7159C3.95185 34.8059 4.04628 34.8774 4.15032 34.9261C4.25436 34.9749 4.36595 35 4.47866 35C4.59136 35 4.70295 34.9749 4.80699 34.9261C4.91103 34.8774 5.00546 34.8059 5.08483 34.7159L8.74746 30.6433C8.82748 30.554 8.891 30.4477 8.93434 30.3307C8.97768 30.2136 9 30.0881 9 29.9613C9 29.8345 8.97768 29.709 8.93434 29.5919C8.891 29.4749 8.82748 29.3686 8.74746 29.2793Z" fill="#D8D8D8"/>
            <path d="M0.252542 5.72067C0.412504 5.89957 0.628892 5.99999 0.854443 5.99999C1.07999 5.99999 1.125 6 1.125 6L4.52134 5.99999L7.875 5.99999C7.875 5.99999 7.92001 5.99999 8.14556 5.99999C8.37111 5.99999 8.5875 5.89957 8.74746 5.72067C8.82748 5.63138 8.891 5.52515 8.93434 5.4081C8.97768 5.29105 9 5.1655 9 5.0387C9 4.9119 8.97768 4.78636 8.93434 4.66931C8.891 4.55226 8.82748 4.44603 8.74746 4.35673L5.12752 0.28412C5.04815 0.194092 4.95372 0.122635 4.84968 0.0738708C4.74564 0.0251065 4.63405 -3.81683e-07 4.52135 -3.91536e-07C4.40864 -4.0139e-07 4.29705 0.0251065 4.19301 0.0738707C4.08897 0.122635 3.99454 0.194092 3.91517 0.28412L0.252542 4.35673C0.17252 4.44602 0.109005 4.55226 0.0656615 4.66931C0.022317 4.78636 9.51245e-08 4.9119 8.40393e-08 5.0387C7.2954e-08 5.1655 0.022317 5.29105 0.0656615 5.4081C0.109005 5.52515 0.17252 5.63138 0.252542 5.72067Z" fill="#D8D8D8"/>
            <circle cx="4.5" cy="17.5" r="3.5" fill="black"/>
          </svg>

        a._order(href='#' title='Заявка на вертолёт') Заявка на вертолёт

    .screen-rotate.js-main-section-overlay(class='main-screen__rotate')
  // end main-screen

  // start main-section
  +section-products(sectionProducts.new, {
    class: 'page-main__section js-main-section'
  })
  // end main-section

  // start main-screen
  section.main-screen.js-main-section(class='page-main__screen')
    ._body
      ._inner
        ._content.js-main-section-content
          ._container.container
            h2._heading Вертоводство
            a.more-link._more(href='#' title='Полезная информация о вертолётах')
              span._title Полезная информация о вертолётах

      ._background
        img._img(src='__static__img/general/bg-pilots.jpg')

        ._overlay

    .screen-rotate.js-main-section-overlay(class='main-screen__rotate')
  // end main-screen

  // start main-section
  +section-articles(sectionArticles, {
    class: 'page-main__section js-main-section'
  })
  // end main-section

  // start main-screen
  section.main-screen.js-main-screen-3.js-main-section(class='page-main__screen')
    ._body
      ._inner
        ._content.js-main-section-content
          ._container.container
            h2._heading Как купить вертолёт?
            a.more-link._more(href='#' title='Полезная информация о вертолётах')
              span._title Полезная информация о вертолётах

      ._background
        img._img(src='__static__img/general/bg-heliclub.jpg')

        ._overlay

    .screen-rotate.js-main-section-overlay(class='main-screen__rotate')
  // end main-screen

  // start main-section
  section.main-section.js-main-section(class='page-main__section')
    .screen-rotate.js-main-section-overlay(class='main-section__rotate')
  // end main-section

  // start main-screen
  section.main-screen.js-main-section(class='page-main__screen')
    ._body
      ._inner
        ._content.js-main-section-content
          ._container.container
            h2._heading Пресса о нас
            a.more-link._more(href='#' title='Полезная информация о вертолётах')
              span._title Полезная информация о вертолётах

      ._background
        img._img(src='__static__img/general/bg-heliclub.jpg')

        ._overlay

    //.screen-rotate.js-main-section-overlay(class='main-screen__rotate')
  // end main-screen
