.menu-extended {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12.5px;
  padding-left: 0;
  list-style: none;

  &:last-child {
    margin-bottom: -35px;
  }

  &__group {
    flex: 1 1 33.3334%;
    max-width: 33.3334%;
    margin-bottom: 35px;
    padding-left: 12.5px;
    padding-right: 12.5px;
  }

  &__title {
    position: relative;
    padding-right: 23px;
    display: inline-block;
    font-size: 30px;
    line-height: 1.2;
    vertical-align: middle;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -3px;
      width: 12px;
      height: 12px;
      background: url($arrow-right-white) center no-repeat;
    }
  }

  &__list {
    margin: 35px 0 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    opacity: 0.7;
  }
}
