mixin menu-extended(data, attrs)
  ul.menu-extended&attributes(attrs)
    each group in data
      li._group
        a._title(href=group.href title=group.title)= group.title

        if (group.submenu)
          ul._list
            each item in group.submenu
              li._item
                a._link(href=item.href title=item.title)= item.title