.article-card {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  background-color: $bg-color;
  overflow: hidden;
  border-radius: 3px;

  &__photo {
    flex: 0 0 auto;
    padding-bottom: 48%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
    padding: 25px 30px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__main {
    flex: 1 1 auto;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }

  &__badge {
    margin-right: 10px;
  }

  &__date {
    position: absolute;
    right: -1px;
    bottom: 100%;
    padding: 10px 25px 0;
    display: inline-block;
    color: rgba($black-color, 0.7);
    font-size: 13px;
    line-height: 1;
    background-color: $bg-color;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  }

  &__title {
    margin: 0;
    font-weight: 300;
  }

  &__caption {
    margin: 20px 0 0;
    display: none;
    font-weight: 300;
  }

  &__logo {
    flex-shrink: 0;
    margin-left: 20px;
    max-width: none;
    width: auto;
    max-height: 47px;
  }
}
