include ../photo/photo
include ../badge/badge
include ../link-more/link-more

mixin article-card(data, attrs)
  - data.more.href = data.photo.href = data.href;

  .article-card&attributes(attrs)
    +photo(data.photo, {
      class: 'article-card__photo'
    })

    ._body
      ._header
        +badge(data.badge, {
          class: 'article-card__badge'
        })

        span._date= data.date

      ._main
        h3._title
          a._link(href='#' title='')= data.title

        p._caption= data.caption

      ._footer
        +link-more(data.more, {
          class: 'article-card__link-more'
        })

        img._logo(src=data.logo alt='')
