include ../photo/photo
include ../badge/badge
include ../properties/properties

mixin product-card(data, attrs)
  .product-card&attributes(attrs)
    ._header
      - data.photo.href = data.href;

      +photo(data.photo, {
        class: 'product-card__photo'
      })

    ._body
      h3._title
        a._link(href=data.href title=data.title)= data.title

      +properties(data.properties, {
        class: 'product-card__properties'
      })

      ._price
        span._label= data.price.label
        span._value= data.price.value