.product-card {
  position: relative;
  min-height: 100%;
  background-color: $bg-color;
  border: 1px solid $bg-color;
  border-radius: 3px;
  transition: 0.25s ease-in;

  &:hover {
    background-color: $white-color;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

    .product-card {
      &__price {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__header {
    flex-shrink: 0;
  }

  &__body {
    flex: 1 1 auto;
    position: relative;
    padding: 30px 30px 40px;
  }

  &__photo {
    margin: -1px;
    padding-bottom: 56%;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
  }

  &__title {
    margin: 0 0 30px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__properties {
    margin: 0;
  }

  &__price {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px 30px;
    width: 100%;
    color: $black-color;
    font-size: 17px;
    font-weight: 500;
    background-color: $white-color;
    border-top: 1px solid rgba($border-color, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in;
    border-radius: 0 0 3px 3px;
    box-shadow: 0px 7px 50px rgba(0, 0, 0, 0.075);
  }

  &__label {
    flex: 1 1 50%;
    max-width: 50%;
  }

  &__value {
    flex-shrink: 0;
    padding-left: 3px;
  }
}
