include ../button/button
include ../load-more/load-more
include ../product-card/product-card

mixin section-products(data, attrs)
  section.main-section&attributes(attrs)
    .section-header._header
      ._container.container
        ._main
          h2._heading Новые в каталоге

        ._aside
          +button({
            type: 'more-outline',
            title: 'Смотреть все'
          }, {
            class: 'section-header__button'
          })

    ._body
      ._container.container
        .layout._layout
          ._grid
            each card in data
              ._column
                +product-card(card, {
                  class: 'section-articles__product-card'
                })

          ._footer
            +load-more({
              title: 'Показать еще'
            }, {
              class: 'layout__load-more'
            })

    .screen-rotate._rotate.js-main-section-overlay