.toggle-menu {
  padding: 0;
  line-height: 1;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;

  &__icon {
    position: relative;
    top: 1px;
    margin-left: 10px;
  }
}
