mixin toggle-menu(data, attrs)
  button.toggle-menu&attributes(attrs)
    span._title= data.title

    span._icon
      <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="0.492188" width="16" height="2" rx="1" fill="black"/>
        <rect y="7.49219" width="16" height="2" rx="1" fill="black"/>
      </svg>