.link-more {
  display: inline-flex;
  align-items: center;
  color: $black-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;

  &::after {
    content: '';
    flex-shrink: 0;
    position: relative;
    top: 1px;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    background-image: url('data:image/svg+xml,%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M9.93746 4.30297C9.89779 4.21099 9.83829 4.12695 9.76239 4.05568L5.59399 0.308766C5.51626 0.238895 5.42398 0.18347 5.32242 0.145656C5.22086 0.107842 5.11201 0.0883789 5.00208 0.0883789C4.78007 0.0883789 4.56715 0.167655 4.41017 0.308766C4.33244 0.378637 4.27078 0.461587 4.22871 0.552878C4.18664 0.644169 4.16499 0.742015 4.16499 0.840828C4.16499 1.04039 4.25318 1.23178 4.41017 1.37289L7.16131 3.83836H0.83368C0.612574 3.83836 0.400525 3.91731 0.244179 4.05785C0.087834 4.19838 0 4.38899 0 4.58774C0 4.78649 0.087834 4.9771 0.244179 5.11763C0.400525 5.25817 0.612574 5.33712 0.83368 5.33712H7.16131L4.41017 7.80259C4.33203 7.87226 4.27001 7.95514 4.22768 8.04646C4.18536 8.13778 4.16357 8.23572 4.16357 8.33465C4.16357 8.43358 4.18536 8.53153 4.22768 8.62285C4.27001 8.71417 4.33203 8.79705 4.41017 8.86671C4.48767 8.93695 4.57987 8.9927 4.68146 9.03075C4.78306 9.06879 4.89202 9.08838 5.00208 9.08838C5.11213 9.08838 5.2211 9.06879 5.32269 9.03075C5.42428 8.9927 5.51649 8.93695 5.59399 8.86671L9.76239 5.1198C9.83829 5.04853 9.89779 4.96449 9.93746 4.87251C10.0208 4.69006 10.0208 4.48542 9.93746 4.30297Z" fill="%230F0F0F"/%3E%3C/svg%3E%0A');
  }
}
