include ../logo-site/logo-site
include ../primary-menu/primary-menu
include ../button/button
include ../language/language
include ../toggle-menu/toggle-menu

mixin page-header(data, attrs)
  header.page-header.js-page-header&attributes(attrs)
    ._container.container
      ._main
        +logo-site({}, {
           class: 'page-header__logo-site'
        })

        +primary-menu(primaryMenu, {
          class: 'page-header__primary-menu'
        })

      ._aside
        +language({}, {
          class: 'page-header__language'
        })

        +button({
          type: 'primary',
          title: 'Заявка на вертолёт'
        }, {
          class: 'page-header__button'
        })

        +toggle-menu({
          title: 'Меню'
        }, {
          class: 'page-header__toggle-menu'
        })