.page-header {
  height: 110px;
  background-color: $white-color;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);

  &__container {
    display: flex;
    height: 100%;
  }

  &__main {
    display: flex;
    flex: 1 1 auto;
  }

  &__aside {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    margin-left: 25px;
  }

  &__logo-site {
    margin-top: 8px;
    margin-right: 22px;
  }

  &__primary-menu {
    align-self: center;
  }

  &__language {
    margin-right: 20px;
  }

  &__button {
    margin-right: 20px;
  }

  &__toggle-menu {
    position: relative;
    top: 1px;
  }
}

.page--homepage {
  .page-header {
    position: absolute;
    height: 160px;

    &__logo-site {
      width: 234px;
      height: 92px;
    }

    &__primary-menu {
      display: none;
    }

    &__button {
      display: none;
    }

    &.is-fixed {
      height: 110px;

      .page-header {
        &__logo-site {
          width: 158px;
          height: 62px;
        }

        &__primary-menu {
          display: block;
        }

        &__button {
          display: inline-block;
        }
      }
    }
  }
}
