mixin button(data, attrs)
  if (data.href)
    a.button(href=data.href title=data.title class=`button--${data.type}`)&attributes(attrs)
      span._title= data.title

  else
    button.button(class=`button--${data.type}`)&attributes(attrs)
      span._title= data.title