.button {
  padding: 14px 20px 13px;
  display: inline-block;
  color: inherit;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  outline: 0;
  background-color: transparent;
  border: 1px solid;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;

  &--primary {
    color: $white-color;
    border-color: $primary-color;
    background-color: $primary-color;
  }

  &--more-outline {
    color: $black-color;
    font-size: 16px;
    border-color: $border-color;

    &::after {
      content: '';
      margin-left: 7px;
      display: inline-block;
      width: 10px;
      height: 10px;
      background: url($arrow-right-black) center no-repeat;
      vertical-align: middle;
    }
  }

  &--pdf-white {
    border-color: rgba($white-color, 0.5);

    &::before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      width: 15px;
      height: 18px;
      background: url($pdf-white) center no-repeat;
      vertical-align: middle;
    }

    .button__title {
      position: relative;
      top: 2px;
    }
  }
}
