.page-footer {
  color: $white-color;
  background-color: $black-color;

  &__contacts, &__copyright {
    border-top: 1px solid rgba($white-color, 0.1);
  }

  &__body {
    padding: 55px 0;
  }

  &__contacts {
    padding: 30px 0;
  }

  &__copyright {
    padding: 25px 0;
  }
}

.footer-body {
  &__menu-extended {
    margin: 0;
  }
}

.footer-contacts {
  &__container {
    display: flex;
    align-items: center;
  }

  &__main {
    flex: 1 1 auto;
  }

  &__aside {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    margin-left: 20px;
  }

  &__link {
    margin-right: 30px;
    font-size: 18px;
  }
}

.footer-copyright {
  font-size: 15px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1 1 auto;
  }

  &__studio {
    flex: 0 0 auto;
    margin-left: 20px;
  }
}
