include ../menu-extended/menu-extended
include ../button/button

mixin page-footer(data, attrs)
  footer.page-footer&attributes(attrs)
    .footer-body._body
      ._container.container
        +menu-extended(menuExtended, {
          class: 'page-footer__menu-extended'
        })

    .footer-contacts._contacts
      ._container.container
        ._main

        ._aside
          a._link.-tel(href='tel:+74993505551' title='Позвонить') +7 (499) 350-55-51
          a._link.-email(href='mailto:sales@helitech.aero' title='Написать') sales@helitech.aero

          +button({
            href: '#',
            type: 'pdf-white',
            title: 'Презентация компании'
          }, {
            class: 'footer-contacts__button'
          })

    .footer-copyright._copyright
      ._container.container
        ._title &copy; Все права защищены, 2019 г.

        a._studio(href='#' title='Created Alt-it' target='_blank')
          img._img(src='__static__img/general/alt-it.svg' alt='Created Alt-it')
