// Common styles of the project

* {
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: inherit;
  }
}

body {
  color: $body-color;
  font: 400 16px / 1.32 'Gilroy', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $black-color;
  font-weight: 400;
  line-height: 1.3;
}

h3 {
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  vertical-align: middle;
}

.more-link {
  position: relative;
  padding: 20px 0;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 24px;
    bottom: 0;
    border-bottom: 2px solid #308FFF;
  }

  &__title {
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      position: relative;
      top: 1px;
      margin-left: 13px;
      display: block;
      width: 11px;
      height: 10px;
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9312 4.68288C10.8876 4.58068 10.8221 4.4873 10.7386 4.40811L6.15339 0.244875C6.06789 0.16724 5.96638 0.105657 5.85466 0.0636411C5.74295 0.0216254 5.62321 0 5.50229 0C5.25808 0 5.02387 0.0880841 4.85118 0.244875C4.76568 0.322509 4.69785 0.414675 4.65158 0.51611C4.6053 0.617545 4.58149 0.726262 4.58149 0.836054C4.58149 1.05779 4.6785 1.27044 4.85118 1.42723L7.87744 4.16664H0.917048C0.673832 4.16664 0.440577 4.25437 0.268597 4.41052C0.0966174 4.56667 0 4.77846 0 4.99929C0 5.22012 0.0966174 5.43191 0.268597 5.58806C0.440577 5.74421 0.673832 5.83194 0.917048 5.83194H7.87744L4.85118 8.57135C4.76523 8.64875 4.69701 8.74084 4.65045 8.84231C4.60389 8.94377 4.57992 9.05261 4.57992 9.16253C4.57992 9.27244 4.60389 9.38128 4.65045 9.48274C4.69701 9.58421 4.76523 9.6763 4.85118 9.7537C4.93643 9.83175 5.03786 9.89369 5.14961 9.93596C5.26136 9.97824 5.38123 10 5.50229 10C5.62335 10 5.74321 9.97824 5.85496 9.93596C5.96671 9.89369 6.06814 9.83175 6.15339 9.7537L10.7386 5.59047C10.8221 5.51128 10.8876 5.4179 10.9312 5.3157C11.0229 5.11298 11.0229 4.8856 10.9312 4.68288Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }
}

.container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1294px;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  min-height: 100vh;

  &--preloader {
    position: relative;
    overflow: hidden;

    .page {
      &__preloader {
        opacity: 1;
      }

      &__wrapper {
        opacity: 0;
      }
    }
  }

  &--homepage {
    padding-top: 0;
  }

  &__preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s ease-in-out;
  }

  &__header {
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;

    &.is-fixed {
      position: fixed;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    transition: 1s ease-in-out;
  }

  &__body {
    flex: 1 1 auto;
  }

  &__main {
    flex: 1 1 auto;
  }

  &__footer {
    position: relative;
    z-index: 2;
  }
}

.page-preloader {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $white-color;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    padding: 65px 0;
  }

  &__footer {
    flex: 0 0 auto;
    padding: 65px 0;
  }

  &__logo-site {
    width: 330px;
    height: 130px;
  }
}

.page-main {
  position: relative;
  overflow-y: hidden;

  &__sceen {
    position: relative;
    z-index: 1;
  }

  &__section {
    position: relative;
    z-index: 3;
  }
}

.main-screen {
  position: relative;
  height: calc(100vh - 160px);
  color: #fff;
  opacity: 0;
  visibility: hidden;

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  &--first {
    height: 100vh;
    opacity: 1;
    visibility: visible;

    .main-screen {
      &__inner {
        padding-bottom: 160px;
      }

      &__rotate {
        top: calc(100% - 160px);
      }
    }
  }

  &__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding-top: 160px;
    height: 100%;
  }

  &__heading {
    margin: 0;
    color: inherit;
    font-size: 76px;
    font-weight: 400;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: radial-gradient(47.88% 47.88% at 50% 52.12%, rgba(12, 12, 17, 0.66) 0%, rgba(12, 12, 17, 0.85) 100%);
  }

  &__rotate {
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    transform-origin: 100% 0;
  }
}

.main-section {
  padding: 100px 0;
  min-height: 100vh;
  background-color: $white-color;

  &__header {
    margin-bottom: 60px;
  }

  &__rotate {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
  }
}

.section-header {
  &__container {
    display: flex;
  }

  &__main {
    flex: 1 1 auto;
  }

  &__aside {
    flex: 0 0 auto;
  }

  &__heading {
    margin: 0;
    font-size: 36px;
  }
}

.screen-footer {
  height: 160px;
  color: $black-color;
  background-color: #fff;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
  }

  &__social-buttons {
    margin: 0;
  }

  &__scroll {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__order {
    position: relative;
    padding-right: 54px;
    font-size: 17px;
    font-weight: 500;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 42px;
      height: 42px;
      background: $black-color url($arrow-right-white) center no-repeat;
      border-radius: 50%;
      transform: translate(0, -50%);
    }
  }
}

.screen-rotate {
  width: calc(100vw * 2);
  height: calc(100vw * 2);
  background-color: #fff;
}

.layout {
  &--articles {
    .layout {
      &__column {
        &:nth-child(6n - 5) {
          flex-basis: 66.6667%;
          max-width: 66.6667%;

          .article-card {
            flex-direction: row;

            &__body {
              order: -1;
            }

            &__photo {
              flex: 0 0 calc(50% - 12.5px);
              max-width: calc(50% - 12.5px);
              padding-bottom: 0;
            }

            &__date {
              position: relative;
              bottom: 0;
              right: 0;
              padding: 0;
              background-color: transparent;
              clip-path: none;
            }

            &__title {
              font-size: 33px;
            }

            &__caption {
              display: block;
            }
          }
        }
      }
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12.5px;
    margin-right: -12.5px;

    &:last-child {
      margin-bottom: -25px;
    }
  }

  &__column {
    flex: 1 1 33.3334%;
    max-width: 33.3334%;
    margin-bottom: 25px;
    padding-left: 12.5px;
    padding-right: 12.5px;
  }

  &__footer {
    margin-top: 20px;
    text-align: center;
  }
}















//.page-main {
//  position: relative;
//  overflow-y: hidden;
//
//  &__intro {
//    //position: fixed;
//    //top: 160px;
//    //left: 0;
//    //bottom: 0;
//    //width: 100%;
//  }
//
//  &__stub {
//    position: relative;
//    z-index: 3;
//  }
//}
//
//.main-intro {
//  display: flex;
//  flex-direction: column;
//  min-height: 100vh;
//
//  &--fullscreen {
//    min-height: calc(100vh - 160px);
//
//    .intro-body__inner {
//      min-height: 0;
//    }
//
//    &.main-intro--fixed {
//      .intro-body {
//        position: fixed;
//        top: 160px;
//        left: 0;
//        bottom: 0;
//        width: 100%;
//      }
//    }
//  }
//
//  &__body {
//    flex: 1 1 auto;
//  }
//
//  &__footer {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    flex-shrink: 0;
//    height: 160px;
//  }
//}
//
//.intro-body {
//  display: flex;
//
//  &__inner {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    padding: 160px 0;
//    position: relative;
//    z-index: 1;
//    width: 100%;
//    min-height: calc(100vh - 160px);
//    color: #fff;
//    background: #000 url(../img/general/bg-main-intro.jpg) center no-repeat;
//    background-size: cover;
//  }
//
//  h2 {
//    font-size: 70px;
//  }
//}
//
//.intro-footer {
//  position: relative;
//  z-index: 2;
//
//  &__overlay {
//    position: absolute;
//    top: 0;
//    right: -25%;
//    z-index: -1;
//    transform-origin: 100% 0;
//  }
//}
//
//.section-overlay {
//  position: absolute;
//  top: 0;
//  left: 0;
//  z-index: -1;
//  width: 100%;
//  height: 100%;
//  background: radial-gradient(47.88% 47.88% at 50% 52.12%, rgba(12, 12, 17, 0.66) 0%, rgba(12, 12, 17, 0.85) 100%);
//
//  &__container {
//    display: flex;
//    justify-content: space-between;
//    height: 100%;
//  }
//
//  &__divider {
//    width: 1px;
//    height: 100%;
//    background-color: rgba(#EEF0F3, 0.08);
//  }
//}
//
//.main-stub {
//  position: relative;
//  z-index: 3;
//  background-color: #fff;
//
//  h1 {
//    margin-top: 0;
//  }
//
//  p:last-child {
//    margin-bottom: 0; }
//
//  &__body {
//    padding: 80px 0;
//  }
//
//  &__overlay {
//    position: absolute;
//    right: 0;
//    bottom: 0;
//    z-index: -1;
//    transform: rotate(-90deg);
//    transform-origin: 100% 100%;
//  }
//}
//
//.overlay {
//  width: calc(100vw * 2);
//  height: calc(100vw * 2);
//  background-color: #fff;
//}
