// File for scss-vars.
// For example: main colors, paddings and so on.

$primary-color: #5093E9;

$body-color: #4D4D4D;
$bg-color: #F4F5F7;
$border-color: #E7E7E7;
$white-color: #FFF;
$black-color: #000;




$pdf-white: 'data:image/svg+xml,%3Csvg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M3.60558 11.5043C3.60558 11.2074 3.39953 11.0303 3.03596 11.0303C2.88751 11.0303 2.78696 11.0449 2.73438 11.0589V12.0117C2.79664 12.0257 2.87319 12.0304 2.9787 12.0304C3.36622 12.0304 3.60558 11.8346 3.60558 11.5043Z" fill="white"/%3E%3Cpath d="M5.8576 11.04C5.69479 11.04 5.58958 11.0541 5.52734 11.0687V13.1788C5.58961 13.1934 5.69015 13.1934 5.78105 13.1934C6.44153 13.198 6.87229 12.8345 6.87229 12.0641C6.87697 11.3942 6.48444 11.04 5.8576 11.04Z" fill="white"/%3E%3Cpath d="M10.0376 0H2.85586C1.80668 0 0.952758 0.854515 0.952758 1.90311V8.94046H0.76688C0.343423 8.94046 0 9.28355 0 9.70738V14.3582C0 14.782 0.343386 15.125 0.76688 15.125H0.952758V15.9779C0.952758 17.0276 1.80668 17.881 2.85586 17.881H12.655C13.7036 17.881 14.5576 17.0276 14.5576 15.9779V4.50415L10.0376 0ZM2.01184 10.5467C2.23659 10.5087 2.5525 10.4801 2.99757 10.4801C3.44736 10.4801 3.76794 10.5659 3.98334 10.7384C4.1891 10.9009 4.32795 11.1692 4.32795 11.4848C4.32795 11.8004 4.22273 12.0688 4.03129 12.2505C3.78229 12.4849 3.41406 12.5901 2.98329 12.5901C2.88743 12.5901 2.8015 12.5854 2.73429 12.5761V13.7293H2.01184V10.5467ZM12.655 16.7155H2.85586C2.44962 16.7155 2.1188 16.3847 2.1188 15.9779V15.125H11.2536C11.6772 15.125 12.0206 14.782 12.0206 14.3582V9.70738C12.0206 9.28355 11.6772 8.94046 11.2536 8.94046H2.1188V1.90311C2.1188 1.49745 2.44965 1.16664 2.85586 1.16664L9.60157 1.15959V3.65304C9.60157 4.38135 10.1925 4.97285 10.9214 4.97285L13.364 4.96584L13.3915 15.9778C13.3915 16.3847 13.0612 16.7155 12.655 16.7155ZM4.7938 13.7147V10.5467C5.06175 10.504 5.41099 10.4801 5.77956 10.4801C6.39209 10.4801 6.78928 10.59 7.10052 10.8243C7.43545 11.0733 7.64584 11.4702 7.64584 12.0401C7.64584 12.6573 7.42109 13.0834 7.10983 13.3464C6.77022 13.6287 6.25327 13.7626 5.62172 13.7626C5.24351 13.7626 4.97556 13.7386 4.7938 13.7147ZM10.0166 11.8391V12.4323H8.85839V13.7293H8.1263V10.504H10.0978V11.102H8.85839V11.8391H10.0166Z" fill="white"/%3E%3C/svg%3E%0A';
$chevron-down: 'data:image/svg+xml,%3Csvg width="7" height="4" viewBox="0 0 7 4" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M6.80358 0.186218C6.67916 0.0669523 6.51086 9.34599e-06 6.33543 9.34599e-06C6.16 9.34599e-06 6.125 0 6.125 0L3.4834 9.34599e-06L0.875 5.31672e-06C0.875 5.31672e-06 0.839995 9.34599e-06 0.664566 9.34599e-06C0.489137 9.34599e-06 0.320836 0.0669523 0.196421 0.186218C0.134182 0.245746 0.084781 0.316569 0.0510688 0.394602C0.0173566 0.472634 0 0.556331 0 0.640865C0 0.725398 0.0173566 0.809095 0.0510688 0.887128C0.084781 0.96516 0.134182 1.03598 0.196421 1.09551L3.01193 3.81059C3.07366 3.8706 3.14711 3.91824 3.22803 3.95075C3.30894 3.98326 3.39574 4 3.4834 4C3.57106 4 3.65785 3.98326 3.73877 3.95075C3.81969 3.91824 3.89313 3.8706 3.95486 3.81059L6.80358 1.09551C6.86582 1.03598 6.91522 0.96516 6.94893 0.887128C6.98264 0.809095 7 0.725398 7 0.640865C7 0.556331 6.98264 0.472634 6.94893 0.394602C6.91522 0.316569 6.86582 0.245746 6.80358 0.186218Z" fill="black"/%3E%3C/svg%3E%0A';
$arrow-right-black: 'data:image/svg+xml,%3Csvg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M9.90836 5.25915C9.8688 5.16373 9.80947 5.07656 9.7338 5.00263L5.57761 1.11582C5.5001 1.04334 5.4081 0.985848 5.30683 0.946622C5.20557 0.907397 5.09704 0.887207 4.98743 0.887207C4.76607 0.887207 4.55378 0.969442 4.39725 1.11582C4.31975 1.1883 4.25827 1.27435 4.21632 1.36905C4.17438 1.46375 4.15279 1.56525 4.15279 1.66775C4.15279 1.87476 4.24073 2.07329 4.39725 2.21967L7.14034 4.77719H0.831238C0.61078 4.77719 0.399352 4.85909 0.243464 5.00488C0.0875768 5.15066 0 5.34838 0 5.55455C0 5.76072 0.0875768 5.95845 0.243464 6.10423C0.399352 6.25001 0.61078 6.33191 0.831238 6.33191H7.14034L4.39725 8.88943C4.31934 8.9617 4.2575 9.04767 4.2153 9.1424C4.1731 9.23713 4.15137 9.33873 4.15137 9.44135C4.15137 9.54398 4.1731 9.64558 4.2153 9.74031C4.2575 9.83504 4.31934 9.92101 4.39725 9.99328C4.47452 10.0661 4.56646 10.124 4.66775 10.1634C4.76905 10.2029 4.8777 10.2232 4.98743 10.2232C5.09716 10.2232 5.20581 10.2029 5.3071 10.1634C5.4084 10.124 5.50033 10.0661 5.57761 9.99328L9.7338 6.10648C9.80947 6.03255 9.8688 5.94537 9.90836 5.84995C9.9915 5.66069 9.9915 5.44841 9.90836 5.25915Z" fill="%230F0F0F"/%3E%3C/svg%3E%0A';
$arrow-right-white: 'data:image/svg+xml,%3Csvg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M11.925 5.61946C11.8773 5.49681 11.8059 5.38476 11.7149 5.28973L6.71279 0.29385C6.61951 0.200688 6.50878 0.126788 6.3869 0.0763693C6.26503 0.0259505 6.13441 0 6.00249 0C5.73608 0 5.48058 0.105701 5.2922 0.29385C5.19892 0.387011 5.12493 0.49761 5.07445 0.619332C5.02397 0.741054 4.99799 0.871514 4.99799 1.00326C4.99799 1.26935 5.10382 1.52453 5.2922 1.71268L8.59357 4.99997H1.00042C0.735089 4.99997 0.48063 5.10524 0.293015 5.29262C0.105401 5.48001 0 5.73415 0 5.99915C0 6.26415 0.105401 6.51829 0.293015 6.70567C0.48063 6.89305 0.735089 6.99832 1.00042 6.99832H8.59357L5.2922 10.2856C5.19843 10.3785 5.12401 10.489 5.07322 10.6108C5.02243 10.7325 4.99628 10.8631 4.99628 10.995C4.99628 11.1269 5.02243 11.2575 5.07322 11.3793C5.12401 11.501 5.19843 11.6116 5.2922 11.7044C5.3852 11.7981 5.49585 11.8724 5.61776 11.9232C5.73967 11.9739 5.87043 12 6.00249 12C6.13456 12 6.26532 11.9739 6.38723 11.9232C6.50914 11.8724 6.61979 11.7981 6.71279 11.7044L11.7149 6.70856C11.8059 6.61354 11.8773 6.50149 11.925 6.37883C12.025 6.13557 12.025 5.86272 11.925 5.61946Z" fill="white"/%3E%3C/svg%3E%0A';