.language {
  font-weight: 500;

  &__selected {
    position: relative;
    padding: 5px 12px;
    display: block;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -1px;
      width: 7px;
      height: 4px;
      background: url($chevron-down) no-repeat;
    }
  }
}
