.properties {
  padding-left: 0;
  color: rgba($black-color, 0.7);
  list-style: none;

  &--lighten {
    .properties {
      &__label::after {
        border-bottom-color: rgba(#D1D3D4, 0.4);
      }
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    line-height: 1;

    &:last-child { margin-bottom: 0; }
  }

  &__label {
    display: flex;
    flex: 1 1 50%;
    max-width: 50%;

    &::after {
      content: '';
      flex: 1 1 auto;
      position: relative;
      top: -2px;
      border-bottom: 1px dashed $border-color;
    }
  }

  &__text {
    flex-shrink: 0;
    padding-right: 3px;
  }

  &__value {
    flex-shrink: 0;
    padding-left: 3px;
  }
}