mixin properties(data, attrs)
  ul.properties&attributes(attrs)
    if (data)
      each property in data
        li._item
          span._label
            span._text= property.label

          span._value= property.value