.primary-menu {
  &__list {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-weight: 500;
  }
}
