include ../article-card/article-card
include ../load-more/load-more

mixin section-articles(data, attrs)
  section.main-section&attributes(attrs)
    ._body
      ._container.container
        .layout.-articles._layout
          ._grid
            each card in data
              ._column
                +article-card(card, {
                  class: 'section-articles__article-card'
                })

          ._footer
            +load-more({
              title: 'Показать еще'
            }, {
              class: 'layout__load-more'
            })

    .screen-rotate._rotate.js-main-section-overlay