.badge {
  padding: 4px 5px;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  vertical-align: middle;
  border-radius: 2px;

  &--dark {
    color: $white-color;
    background-color: $black-color;
  }
}
