.logo-site {
  position: relative;
  width: 158px;
  height: 62px;

  &__text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 66%;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 34%;
  }
}
